* {
  position: relative;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  border: 1vmin solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
